
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup.active {
    display: flex;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
  }
  
  .close {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
  }
  